
.direnv
node_modules/
bin/
dist/
build/
public/
newman/
.idea
.DS_Store
.#*
mock_provider/specification/

__pycache__/
.envrc
.idea/
.venv/
**/.env
openapitools.json
postman-collection.json

smoketest-report.xml
env
.dir-locals.el
*.pyc
