# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-user-permissions owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  version: Computed and injected at build time by `scripts/set_version.py`
  title: GP Connect - User Permissions
  contact:
    name: GP Connect - User Permissions API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview

    Use this API to access an NHS patient's permissions for their medical
    record and GP services. These permissions are held in GP systems. 
      
    If you are a patient-facing application, you can:
      
    - get a patient's current permissions
    - get a patient's maximum level of permission available to them
    - allow patients to request changes to their permissions

    If you are a GP system, you can:

    - receive requests from patients to change their permissions
    - control what permissions patients can request 
      
    You cannot currently use this API to:
      
    - allow patients to reduce permission levels
    - receive notifications when patient permissions are updated in the GP System
    - get permissions for proxy patient access
    - manage permissions for type 1 opt out
    - manage permissions for national data opt out

    To use this API, patients must:

    - be a member of a GP practice
    - be registered with NHS Login

    ### Access modes

    This API has a single access mode:

    | Access mode                                                                                                                | Functions | Availability |
    | -----------                                                                                                                | --------- | ------------ |
    | [Patient access](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#patient-access-mode) | Get own permissions. Update own permissions. | TBC |

    For further details about the access modes for this API, see
    [Security and authorisation](#api-description__security-and-authorisation) below.

    ## Who can use this API

    This API can only be used where there is a legal basis to do so. Make sure
    you have a valid use case before you go too far with your development. You
    must demonstrate you have a valid use case as part of digital onboarding.

    You must do this before you can go live (see ‘Onboarding’ below).

    ### Who can access patient's permissions

    Use this API if you are a patient-facing application, like the NHS App and
    use NHS login to authenticate users.

    ## Related APIs

    The GP Connect suite of patient facing service (PFS) APIs include the
    following related APIs:

    - [GP Connect appointment management FHIR API](https://digital.nhs.uk/developer/api-catalogue/gp-connect-appointment-management-fhir)
    - GP Connect view record API
    - GP Connect prescriptions management API

    ## API Status and roadmap

    This API is in [development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning:

    - it is available for testing in the integration environment
    - it is not available for production use
    - we might make breaking changes, but only if we cannot avoid it, and we will give advance notice

    ## Service level

    This API is a silver service, meaning it is operational 24 x 7 x 365 but
    only supported during business hours (8am to 6pm), Monday to Friday
    excluding bank holidays.

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).

    ## Technology

    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest)

    ## Network access

    This API is available on the internet.

    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    All communications must be encrypted using HTTP(S).

    This API is user-restricted, meaning an end user must be present and
    authenticated to use it.

    The end user must be:

    - a patient
    - authenicated with NHS login

    The API uses Open ID Connect to authenticate the end user and OAuth 2.0 to
    authorise the calling system. It supports the following security patterns
    using NHS login:

    - [User-restricted RESTful APIs - NHS login separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-separate-authentication-and-authorisation)

    ## Environments and testing

    | Purpose          | URL                                                   |
    | -------          | ---                                                   |
    | Sandbox          | `https://sandbox.api.service.nhs.uk/user-permissions` |
    | Integration test | Not yet available                                     |
    | Production       | Not yet available                                     |

    ### Sandbox testing

    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):

    - is for early developer testing
    - only covers a limited set of scenarios
    - is stateless, so it does not store data
    - is open access, so does not allow you to test authorisation

    For more details on sandbox testing, or to try out the sandbox using our
    "Try this API" feature, see the documentation for each endpoint.

    ### Integration testing (not yet available)

    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):

    - is for formal integration testing
    - is stateful, so it does persist data
    - includes authorisation

    For more details see
     [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding

    We are hoping to make the assurance process as lightweight and as
    self-service as possible.

servers:
  - url: https://sandbox.api.service.nhs.uk/user-permissions
    description: Sandbox environment

tags:
  - name: User Permissions
    description: User permissions operations

paths:
  /:
    get:
      tags:
        - User Permissions
      summary: GET a user's permissions.
      description: |
        Returns a `UserPermission` object which includes a list of services and
        a list of medical record permission sets with a date range for when
        they are or have been applicable.
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
              examples:
                "Current permissions with services":
                  $ref: "#/components/examples/CurrentPermissionsWithServices"
                ? "Medical record with historical permissions and a pending request"
                : $ref: "#/components/examples/HistoricalPermissionsWithPendingRequest"
                "Services with pending requests":
                  $ref: "#/components/examples/ServiceWithPendingRequests"
                "Current permissions with pending request for documents":
                  $ref: "#/components/examples/CurrentPermissionsWithPendingRequestForDocuments"
                "Current permissions with rejected request for documents":
                  $ref: "#/components/examples/CurrentPermissionsWithRejectedRequestForDocuments"
                "Mulitple medical record permission sets":
                  $ref: "#/components/examples/MultipleMedicalRecordPermissionSets"
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Invalid request error response":
                  $ref: "#/components/examples/InvalidRequestError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"
        5XX:
          description: Server error
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Server error response":
                  $ref: "#/components/examples/ServerError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"

  /update-permission:
    post:
      tags:
        - User Permissions
      summary: Request a change to a permission.
      requestBody:
        $ref: "#/components/requestBodies/UpdatePermission"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionUpdateResponse"
              examples:
                "Historical permissions with document access pending":
                  value:
                    type: medical
                    id: historical-permissions-id
                    accessLevel: documents
                    status: pending
                    message: Request to access documents is pending.
                    endDate: "2022-11-01T00:00:00+00:00"
                "Full access to current medical record permissions approved":
                  value:
                    type: medical
                    id: current-permissions-id
                    accessLevel: full
                    status: approved
                    message: |
                      Request for full access to current medical record
                      approved.
                "Detailed coded access to historical permissions rejected":
                  value:
                    type: medical
                    id: historical-permissions-id
                    accessLevel: detailed
                    status: rejected
                    message: |
                      Request for detailed coded access to historical medical
                      record rejected.
                "View access to medication service approved":
                  value:
                    type: service
                    id: medication
                    accessLevel: view
                    status: approved
                    message: |
                      Request for view access to medication service approved.
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Invalid request error response":
                  $ref: "#/components/examples/InvalidRequestError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"
        5XX:
          description: Server error
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Server error response":
                  $ref: "#/components/examples/ServerError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"

components:
  schemas:
    UserPermission:
      type: object
      required:
        - medicalRecord
        - services
      properties:
        medicalRecord:
          type: array
          description: |
            List of permission sets from the beginning of the medical record to
            the current date. Each permission set should have a `beginDate` and
            an `endDate` with the exception of the current permission set which
            should not contain an `endDate`.
          items:
            $ref: "#/components/schemas/MedicalRecordPermission"
        services:
          type: array
          description: |
            List of services available to the user including whether the service
            is accessible or not.
          items:
            $ref: "#/components/schemas/ServicePermission"

    ErrorResponse:
      type: object
      description: |
        Outcome of an operation that does not result in a resource being
        returned.
      required:
        - resourceType
        - meta
        - issue
      properties:
        resourceType:
          type: string
          description: |
            The type of FHIR resource - primarily used by FHIR clients and used
            in non-FHIR APIs for consistency across the platform.
          enum:
            - OperationOutcome
        meta:
          type: object
          description: Object to hold meta information about the error.
          required:
            - lastUpdated
          properties:
            lastUpdated:
              type: string
              description: UTC date and time stamp when the error occurred.
              example: "2022-11-01T00:00:00+00:00"
        issue:
          type: array
          description: List of issues that have occurred.
          minItems: 1
          items:
            type: object
            required:
              - severity
              - code
            properties:
              severity:
                type: string
                description: Severity of the error.
                enum:
                  - fatal
                  - error
                  - warning
                  - information
                example: error
              code:
                type: string
                description: |
                  A FHIR error code - primarily used by FHIR clients and used in
                  non-FHIR APIs for consistency across the platform.
                enum:
                  - business-rule
                  - code-invalid
                  - conflict
                  - deleted
                  - duplicate
                  - exception
                  - expired
                  - extension
                  - forbidden
                  - incomplete
                  - informational
                  - invalid
                  - invariant
                  - lock-error
                  - login
                  - multiple-matches
                  - no-store
                  - not-found
                  - not-supported
                  - processing
                  - required
                  - security
                  - structure
                  - suppressed
                  - throttled
                  - timeout
                  - too-costly
                  - too-long
                  - transient
                  - unknown
                  - value
                example: forbidden
              details:
                type: object
                description: Internal error code.
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          description: URI of the coding system specification.
                          example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                        version:
                          type: string
                          description: Version of the coding system in use.
                          example: "1"
                        code:
                          type: string
                          description: Symbol in syntax defined by the system.
                          example: INVALID_VALUE
                        display:
                          type: string
                          description: Representation defined by the system.
                          example: Provided value is invalid.
                  diagnostics:
                    type: string
                    description: |
                      Additional diagnostic information about the issue.
                    example: (invalid_request) firstName is missing.
                  expression:
                    type: array
                    description: JSON pointer of element(s) related to the error.
                    items:
                      type: string
                      example: /data/attributes/firstName

    MedicalRecordPermission:
      type: object
      description: |
        Contains the access level the user has to the medical record and
        whether they have access to documents. Permissions are effective from
        `beginDate`.
        An optional `request` object can be used to describe pending
        requests.
      required:
        - id
        - beginDate
        - documentAccess
        - accessLevel
      properties:
        id:
          type: string
          description: |
            The id of the permission set. This will be used in the request to
            update permissions. The id is arbitary and should not be used by
            consuming applications for anything other than being included in
            the request to update a permission.
            The id could change between sessions but the receiving application
            must know what permission set the id is associated to. For this
            reason it is suggested `beginDate` is used as this will be unique
            across all permission sets and have a well known association
            between id and permission set.
          example: "2022-11-01T00:00:00+00:00"
        beginDate:
          type: string
          description: The date when the permission set was active.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        endDate:
          type: string
          description: The date when the permission set was no longer active.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        documentAccess:
          type: boolean
          description: |
            Indicates if the user has access to the medical record documents.
          example: true
        accessLevel:
          $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
        request:
          $ref: "#/components/schemas/MedicalRecordRequest"

    ServicePermission:
      description: A service and the level of access a user has to it.
      required:
        - id
        - accessLevel
      properties:
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"
        request:
          $ref: "#/components/schemas/ServiceRequest"

    BaseRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests.
      type: object
      required:
        - status
        - endDate
        - message
      properties:
        endDate:
          type: string
          description: |
            The date/time when the request will have either been actioned or
            becomes eligible to be requested again.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        message:
          type: string
          description: A message pertaining to the request and its status.
          example: Request requires review by HCP.
        status:
          type: string
          description: The status of the request to update the permission.
          enum:
            - pending
            - rejected
    ServiceRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests for changes to service permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/ServiceAccessLevelEnum"
    MedicalRecordRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests for changes to medical record permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"

    MedicalRecordPermissionUpdate:
      type: object
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - id
        - type
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - medical
        id:
          type: string
          description: Id of the medical record permission set to update.
          example: current-permissions-id
        accessLevel:
          $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
    ServicePermissionUpdate:
      type: object
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - id
        - type
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - service
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"

    PermissionUpdateResponse:
      oneOf:
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdateResponse"
      discriminator:
        propertyName: type
        mapping:
          medical: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
          service: "#/components/schemas/ServicePermissionUpdateResponse"
    BasePermissionUpdateResponse:
      allOf:
        - type: object
          required:
            - status
            - message
          properties:
            status:
              type: string
              description: The status of the update request.
              enum:
                - approved
                - rejected
                - pending
              example: pending
            message:
              type: string
              description: Message pertaining to the result of the request.
              example: Request to allow access to documents is pending.
            endDate:
              type: string
              description: |
                Only required for `pending` responses. Indicates that date time
                when the request is expected to have been processed and an
                `approved` or `rejected` status has been achieved.
              format: date-time
              example: "2022-11-01T00:00:00+00:00"
    MedicalRecordPermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
    ServicePermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdate"

    # Enums
    MedicalRecordAccessLevelEnum:
      type: string
      description: The access level the user has to the medical record.
      enum:
        - none
        - summary
        - detailed
        - full
      example: detailed
    ServiceAccessLevelEnum:
      type: string
      description: Indicates the level of access the user has to the service.
      enum:
        - none
        - view
        - full
      example: view
    ServiceIdEnum:
      type: string
      description: The id of the service.
      enum:
        - appointments
        - medication
      example: appointments

  examples:
    CurrentPermissionsWithServices:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    HistoricalPermissionsWithPendingRequest:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
          - id: historical-permissions-id
            beginDate: "2002-06-11T09:30:00+00:00"
            endDate: "2022-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: summary
            request:
              status: pending
              endDate: "2022-10-31T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: detailed
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    ServiceWithPendingRequests:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
        services:
          - id: appointments
            accessLevel: view
            request:
              status: pending
              endDate: "2022-10-31T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: full
          - id: medication
            accessLevel: view
    CurrentPermissionsWithPendingRequestForDocuments:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
            request:
              status: pending
              endDate: "2022-11-30T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: documents
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    CurrentPermissionsWithRejectedRequestForDocuments:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
            request:
              status: rejected
              endDate: "2022-11-30T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: documents
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    MultipleMedicalRecordPermissionSets:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
          - id: historical-permissions-id-1
            beginDate: "2020-11-01T00:00:00+00:00"
            endDate: "2022-10-31T23:59:59+00:00"
            documentAccess: true
            accessLevel: detailed
          - id: historical-permissions-id-2
            beginDate: "2015-11-01T00:00:00+00:00"
            endDate: "2020-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: detailed
          - id: historical-permissions-id-3
            beginDate: "2002-06-11T09:30:00+00:00"
            endDate: "2015-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: summary
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: full
    InvalidRequestError:
      value:
        resourceType: OperationOutcome
        meta:
          "lastUpdated": "2021-04-14T11:35:00+00:00"
        issue:
          - severity: error
            code: value
            details:
              "coding":
                - system: https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode
                  version: "1"
                  code: INVALID_VALUE
                  display: Provided value is invalid.
              "diagnostics": (invalid_request) firstName is missing.
              "expression":
                - /data/attributes/firstName
    ServerError:
      value:
        resourceType: OperationOutcome
        meta:
          "lastUpdated": "2017-10-17T12:22:00+00:00"
        issue:
          - severity: error
            code: exception
            details:
              "coding":
                - system: https://fhir.nhs.uk/STU3/ValueSet/Spine-ErrorOrWarningCode-1
                  version: "1"
                  code: INTERNAL_SERVER_ERROR
                  display: Internal server error.
              "diagnostics": "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support. (Message ID: {messageid})"
    ErrorResponseWithOnlyTheRequiredFields:
      value:
        resourceType: OperationOutcome
        meta:
          "lastUpdated": "2022-11-15T11:10:00+00:00"
        issue:
          - severity: error
            code: expired
  requestBodies:
    UpdatePermission:
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
              - $ref: "#/components/schemas/ServicePermissionUpdate"
            discriminator:
              propertyName: type
              mapping:
                medical: "#/components/schemas/MedicalRecordPermissionUpdate"
                service: "#/components/schemas/ServicePermissionUpdate"
          examples:
            ? "Request document access for specific medical record permission set"
            : value:
                type: medical
                id: historical-permissions-id
                accessLevel: documents
            "Request full access for current medical record":
              value:
                type: medical
                id: current-permissions-id
                accessLevel: full
            "Request full access to appointments service":
              value:
                type: service
                id: appointments
                accessLevel: full

  securitySchemes:
    BearerAuthorization:
      type: http
      description: |
        An
        [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis)
        from NHS login.
      scheme: bearer
      bearerFormat: ^Bearer\ [[:ascii:]]+$

security:
  - BearerAuthorization: []
