# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-user-permissions owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  version: Computed and injected at build time by `scripts/set_version.py`
  title: GP Connect - User Permissions
  contact:
    name: GP Connect - User Permissions API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview

    Use this API to access an NHS patient's permissions for their medical
    record and GP services. These permissions are held in GP systems.

    If you are a patient-facing application, you can:

    - get a patient's current permissions
    - get a patient's maximum level of permission available to them
    - allow patients to request changes to their permissions

    If you are a GP system, you can:

    - receive requests from patients to change their permissions
    - control what permissions patients can request

    You cannot currently use this API to:

    - allow patients to reduce permission levels
    - receive notifications when patient permissions are updated in the GP System
    - get permissions for proxy patient access
    - manage permissions for type 1 opt out
    - manage permissions for national data opt out

    To use this API, patients must:

    - be a member of a GP practice
    - be registered with NHS Login

    ### Access modes

    This API has a single access mode:

    | Access mode                                                                                                                | Functions | Availability |
    | -----------                                                                                                                | --------- | ------------ |
    | [Patient access](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#patient-access-mode) | Get own permissions. Update own permissions. | TBC |

    For further details about the access modes for this API, see
    [Security and authorisation](#api-description__security-and-authorisation) below.

    ## Who can use this API

    This API can only be used where there is a legal basis to do so. Make sure
    you have a valid use case before you go too far with your development. You
    must demonstrate you have a valid use case as part of digital onboarding.

    You must do this before you can go live (see `Onboarding` below).

    ### Who can access patient's permissions

    Use this API if you are a patient-facing application, like the NHS App and
    use NHS login to authenticate users.

    ## Related APIs

    The GP Connect suite of patient facing service (PFS) APIs include the
    following related APIs:

    - [GP Connect appointment management FHIR API](https://digital.nhs.uk/developer/api-catalogue/gp-connect-appointment-management-fhir)
    - GP Connect view record API
    - GP Connect prescriptions management API

    ## API Status and roadmap

    This API is in [development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning:

    - it is available for testing in the integration environment
    - it is not available for production use
    - we might make breaking changes, but only if we cannot avoid it, and we will give advance notice

    ## Service level

    This API is a silver service, meaning it is operational 24 x 7 x 365 but
    only supported during business hours (8am to 6pm), Monday to Friday
    excluding bank holidays.

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).

    ## Technology

    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest)

    ## Network access

    This API is available on the internet.

    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    All communications must be encrypted using HTTP(S).

    This API is user-restricted, meaning an end user must be present and
    authenticated to use it.

    The end user must be:

    - a patient
    - authenticated with NHS login

    The API uses Open ID Connect to authenticate the end user and OAuth 2.0 to
    authorise the calling system. It supports the following security patterns
    using NHS login:

    - [User-restricted RESTful APIs - NHS login separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-separate-authentication-and-authorisation)

    ## Environments and testing

    | Purpose          | URL                                                   |
    | -------          | ---                                                   |
    | Sandbox          | `https://sandbox.api.service.nhs.uk/user-permissions` |
    | Integration test | Not yet available                                     |
    | Production       | Not yet available                                     |

    ### Sandbox testing

    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):

    - is for early developer testing
    - only covers a limited set of scenarios
    - is stateless, so it does not store data
    - is open access, so does not allow you to test authorisation

    For more details on sandbox testing, or to try out the sandbox using our
    "Try this API" feature, see the documentation for each endpoint.

    ### Integration testing (not yet available)

    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):

    - is for formal integration testing
    - is stateful, so it does persist data
    - includes authorisation

    For more details see
     [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding

    We are hoping to make the assurance process as lightweight and as
    self-service as possible.

servers:
  - url: https://sandbox.api.service.nhs.uk/user-permissions
    description: Sandbox environment

tags:
  - name: User Permissions
    description: User permissions operations

paths:
  /:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - User Permissions
      summary: GET a user's permissions.
      description: |
        Returns a `UserPermission` object which includes a list of services and
        a list of medical record permission sets with a date range for when
        they are or have been applicable.
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
              examples:
                "Full permissions to medical record and services":
                  $ref: "#/components/examples/FullPermissions"
                "Pending request to get documents access to before record":
                  $ref: "#/components/examples/PendingRequestForDocumentsAccess"
                "Pending request for full access to appointments":
                  $ref: "#/components/examples/PendingRequestForFullAccessAppointments"
                "Multiple pending requests":
                  $ref: "#/components/examples/MultiplePendingRequests"
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Invalid request error response":
                  $ref: "#/components/examples/InvalidRequestError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"
        5XX:
          description: Server error
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Server error response":
                  $ref: "#/components/examples/ServerError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"

  /update-permission:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags:
        - User Permissions
      summary: Request a change to a permission.
      requestBody:
        $ref: "#/components/requestBodies/UpdatePermission"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionUpdateResponse"
              examples:
                ? "Request for documents access for before effective date is pending"
                : value:
                    type: medical
                    id: before
                    accessLevel: documents
                    status: pending
                    message: |
                      Request accepted to update access before effective date
                      to documents.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request to move effective date back to requested date":
                  value:
                    type: medical
                    id: present
                    accessLevel: full
                    date: "2021-11-01T00:00:00+00:00"
                    status: pending
                    message: Request received to move effective date to date.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request for full access to prescriptions service":
                  value:
                    type: service
                    id: prescriptions
                    accessLevel: full
                    status: pending
                    message: |
                      Request received for full access to prescriptions service.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request rejected for full access to appointments service":
                  value:
                    type: service
                    id: prescriptions
                    accessLevel: full
                    status: rejected
                    message: |
                      Request received for full access to prescriptions
                      service.
                    dateCreated: "2022-11-01T00:00:00+00:00"
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Invalid request error response":
                  $ref: "#/components/examples/InvalidRequestError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"
        5XX:
          description: Server error
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                "Server error response":
                  $ref: "#/components/examples/ServerError"
                "Error response with only the required fields":
                  $ref: "#/components/examples/ErrorResponseWithOnlyTheRequiredFields"

components:
  parameters:
    Id:
      name: id
      in: path
      description: |
        The patient's NHS number. The primary identifier of a patient, unique 
        within NHS England and Wales. Always 10 digits and must be a 
        [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).
      required: true
      schema:
        type: string
        example: "9000000009"
  schemas:
    UserPermission:
      type: object
      required:
        - medicalRecord
        - services
        - requests
      properties:
        medicalRecord:
          $ref: "#/components/schemas/MedicalRecordPermission"
        services:
          type: array
          description: |
            List of services available to the user including whether the service
            is accessible or not.
          items:
            $ref: "#/components/schemas/ServicePermission"
        requests:
          type: array
          description: |
            List of outstanding requests that have been made to update either
            the medical record or services permissions.
          items:
            anyOf:
              - $ref: "#/components/schemas/MedicalRecordRequest"
              - $ref: "#/components/schemas/ServiceRequest"

    ErrorResponse:
      type: object
      description: |
        Outcome of an operation that does not result in a resource being
        returned.
      required:
        - resourceType
        - meta
        - issue
      properties:
        resourceType:
          type: string
          description: |
            The type of FHIR resource - primarily used by FHIR clients and used
            in non-FHIR APIs for consistency across the platform.
          enum:
            - OperationOutcome
        meta:
          type: object
          description: Object to hold meta information about the error.
          required:
            - lastUpdated
          properties:
            lastUpdated:
              type: string
              description: UTC date and time stamp when the error occurred.
              example: "2022-11-01T00:00:00+00:00"
        issue:
          type: array
          description: List of issues that have occurred.
          minItems: 1
          items:
            type: object
            required:
              - severity
              - code
            properties:
              severity:
                type: string
                description: Severity of the error.
                enum:
                  - fatal
                  - error
                  - warning
                  - information
                example: error
              code:
                type: string
                description: |
                  A FHIR error code - primarily used by FHIR clients and used in
                  non-FHIR APIs for consistency across the platform.
                enum:
                  - business-rule
                  - code-invalid
                  - conflict
                  - deleted
                  - duplicate
                  - exception
                  - expired
                  - extension
                  - forbidden
                  - incomplete
                  - informational
                  - invalid
                  - invariant
                  - lock-error
                  - login
                  - multiple-matches
                  - no-store
                  - not-found
                  - not-supported
                  - processing
                  - required
                  - security
                  - structure
                  - suppressed
                  - throttled
                  - timeout
                  - too-costly
                  - too-long
                  - transient
                  - unknown
                  - value
                example: forbidden
              details:
                type: object
                description: Internal error code.
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          description: URI of the coding system specification.
                          example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                        version:
                          type: string
                          description: Version of the coding system in use.
                          example: "1"
                        code:
                          type: string
                          description: Symbol in syntax defined by the system.
                          example: INVALID_VALUE
                        display:
                          type: string
                          description: Representation defined by the system.
                          example: Provided value is invalid.
                  diagnostics:
                    type: string
                    description: |
                      Additional diagnostic information about the issue.
                    example: (invalid_request) firstName is missing.
                  expression:
                    type: array
                    description: JSON pointer of element(s) related to the error.
                    items:
                      type: string
                      example: /data/attributes/firstName

    MedicalRecordPermission:
      type: object
      description: |
        Contains the access level the user has to the medical record. This is
        split into `present.accessLevel` and `before.accessLevel` with a
        `present.effectiveDate` for when the present access level took effect.
        An optional `request` object can be used to describe pending requests.
      required:
        - present
      properties:
        present:
          type: object
          required:
            - accessLevel
            - effectiveDate
            - maxAccessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
            maxAccessLevel:
              $ref: "#/components/schemas/MaxMedicalRecordAccessLevelEnum"
            effectiveDate:
              type: string
              format: date/time
              example: "2022-11-01T00:00:00+00:00"
        before:
          type: object
          required:
            - accessLevel
            - maxAccessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
            maxAccessLevel:
              $ref: "#/components/schemas/MaxMedicalRecordAccessLevelEnum"

    ServicePermission:
      description: A service and the level of access a user has to it.
      required:
        - id
        - accessLevel
        - maxAccessLevel
      properties:
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"
        maxAccessLevel:
          $ref: "#/components/schemas/MaxServiceAccessLevelEnum"

    BaseRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests.
      type: object
      required:
        - status
        - dateCreated
        - message
      properties:
        dateCreated:
          type: string
          description: |
            The date/time when the request for change was created.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        message:
          type: string
          description: A message pertaining to the request and its status.
          example: Request requires review by HCP.
        status:
          type: string
          description: The status of the request to update the permission.
          enum:
            - pending
            - rejected
    MedicalRecordRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests for changes to medical record permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
            - id
            - type
          properties:
            accessLevel:
              $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
            id:
              $ref: "#/components/schemas/MedicalRecordPermissionTypeIdEnum"
            type:
              type: string
              description: The type of request.
              enum:
                - medical
    ServiceRequest:
      description: |
        An object containing information pertaining to any pending or rejected
        requests for changes to service permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
            - id
            - type
          properties:
            accessLevel:
              $ref: "#/components/schemas/ServiceAccessLevelEnum"
            id:
              $ref: "#/components/schemas/ServiceIdEnum"
            type:
              type: string
              description: The type of request.
              enum:
                - service

    MedicalRecordPermissionUpdate:
      type: object
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - type
        - id
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - medical
        id:
          $ref: "#/components/schemas/MedicalRecordPermissionTypeIdEnum"
        accessLevel:
          $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
        date:
          type: string
          description: |
            The date to move the present effective permission date to. Only
            applicable when access level is `full` and id `present`.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
    ServicePermissionUpdate:
      type: object
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - type
        - id
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - service
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"

    PermissionUpdateResponse:
      oneOf:
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdateResponse"
      discriminator:
        propertyName: type
        mapping:
          medical: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
          service: "#/components/schemas/ServicePermissionUpdateResponse"
    BasePermissionUpdateResponse:
      allOf:
        - type: object
          required:
            - status
            - message
          properties:
            status:
              type: string
              description: The status of the update request.
              enum:
                - rejected
                - pending
              example: pending
            message:
              type: string
              description: |
                Message pertaining to the result of the request.
              example: |
                Request to allow access to documents is pending.
            dateCreated:
              type: string
              description: |
                Indicates that date time when the request was created.
              format: date-time
              example: "2022-11-01T00:00:00+00:00"
    MedicalRecordPermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
    ServicePermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdate"

    # Enums
    MedicalRecordAccessLevelEnum:
      type: string
      description: The access level the user has to the medical record.
      enum:
        - none
        - summary
        - detailed
        - documents
        - full
      example: detailed
    MaxMedicalRecordAccessLevelEnum:
      type: string
      description: |
        The maximum access level the user can have to the medical record.
      enum:
        - none
        - summary
        - detailed
        - documents
        - full
      example: documents
    MedicalRecordPermissionTypeIdEnum:
      type: string
      description: The type of the permission.
      enum:
        - present
        - before
      example: present
    ServiceAccessLevelEnum:
      type: string
      description: |
        Indicates the level of access the user has to the service.

        | level  | description                                                                       |
        | -----  | -----------                                                                       |
        | none   | no access                                                                         |
        | view   | view only                                                                         |
        | action | can perform main action for service e.g. book appointments or order prescriptions |
        | full   | can amend/cancel existing appointments or prescriptions                           |
      enum:
        - none
        - view
        - action
        - full
      example: view
    MaxServiceAccessLevelEnum:
      type: string
      description: |
        Indicates the maximum level of access the user can have to the service.

        | level  | description                                                                       |
        | -----  | -----------                                                                       |
        | none   | no access                                                                         |
        | view   | view only                                                                         |
        | action | can perform main action for service e.g. book appointments or order prescriptions |
        | full   | can amend/cancel existing appointments or prescriptions                           |
      enum:
        - none
        - view
        - action
        - full
      example: action
    ServiceIdEnum:
      type: string
      description: The id of the service.
      enum:
        - appointments
        - prescriptions
      example: appointments

  examples:
    FullPermissions:
      value:
        medicalRecord:
          present:
            effectiveDate: "2022-11-01T00:00:00+00:00"
            accessLevel: full
            maxAccessLevel: full
          before:
            accessLevel: summary
            maxAccessLevel: documents
        services:
          - id: appointments
            accessLevel: view
            maxAccessLevel: full
          - id: prescriptions
            accessLevel: action
            maxAccessLevel: full
    PendingRequestForDocumentsAccess:
      value:
        medicalRecord:
          present:
            effectiveDate: "2022-11-01T00:00:00+00:00"
            accessLevel: full
            maxAccessLevel: full
          before:
            accessLevel: summary
            maxAccessLevel: documents
        services:
          - id: appointments
            accessLevel: action
            maxAccessLevel: action
          - id: prescriptions
            accessLevel: view
            maxAccessLevel: action
        requests:
          - status: pending
            dateCreated: "2022-10-31T23:59:59+00:00"
            message: Requires review by HCP
            accessLevel: documents
            id: before
            type: medical
    PendingRequestForFullAccessAppointments:
      value:
        medicalRecord:
          present:
            effectiveDate: "2022-11-01T00:00:00+00:00"
            accessLevel: full
            maxAccessLevel: full
          before:
            accessLevel: summary
            maxAccessLevel: detailed
        services:
          - id: appointments
            accessLevel: view
            maxAccessLevel: action
          - id: prescriptions
            accessLevel: view
            maxAccessLevel: action
        requests:
          - status: pending
            dateCreated: "2022-10-31T23:59:59+00:00"
            message: Requires review by HCP
            accessLevel: action
            id: appointments
            type: service
    MultiplePendingRequests:
      value:
        medicalRecord:
          present:
            effectiveDate: "2022-11-01T00:00:00+00:00"
            accessLevel: full
            maxAccessLevel: full
          before:
            accessLevel: summary
            maxAccessLevel: detailed
        services:
          - id: appointments
            accessLevel: view
            maxAccessLevel: action
          - id: prescriptions
            accessLevel: view
            maxAccessLevel: action
        requests:
          - status: pending
            dateCreated: "2022-10-31T23:59:59+00:00"
            message: Requires review by HCP
            accessLevel: action
            id: appointments
            type: service
          - status: pending
            dateCreated: "2022-10-31T23:59:59+00:00"
            message: Requires review by HCP
            accessLevel: detailed
            id: before
            type: medical
    InvalidRequestError:
      value:
        resourceType: OperationOutcome
        meta:
          lastUpdated: "2021-04-14T11:35:00+00:00"
        issue:
          - severity: error
            code: value
            details:
              coding:
                - system: https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode
                  version: "1"
                  code: INVALID_VALUE
                  display: Provided value is invalid.
              diagnostics: (invalid_request) firstName is missing.
              expression:
                - /data/attributes/firstName
    ServerError:
      value:
        resourceType: OperationOutcome
        meta:
          "lastUpdated": "2017-10-17T12:22:00+00:00"
        issue:
          - severity: error
            code: exception
            details:
              coding:
                - system: https://fhir.nhs.uk/STU3/ValueSet/Spine-ErrorOrWarningCode-1
                  version: "1"
                  code: INTERNAL_SERVER_ERROR
                  display: Internal server error.
              diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support. (Message ID: {messageid})"
    ErrorResponseWithOnlyTheRequiredFields:
      value:
        resourceType: OperationOutcome
        meta:
          lastUpdated: "2022-11-15T11:10:00+00:00"
        issue:
          - severity: error
            code: expired
  requestBodies:
    UpdatePermission:
      description: |
        Object containing the `type` and `id` of the permission to update along
        with the `currentAccessLevel` to update to.
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
              - $ref: "#/components/schemas/ServicePermissionUpdate"
            discriminator:
              propertyName: type
              mapping:
                medical: "#/components/schemas/MedicalRecordPermissionUpdate"
                service: "#/components/schemas/ServicePermissionUpdate"
          examples:
            "Request documents access for medical record before effective date":
              value:
                type: medical
                id: before
                accessLevel: documents
            "Request effective date is moved back to date":
              value:
                type: medical
                id: present
                accessLevel: full
                date: "2022-11-01T00:00:00+00:00"
            "Request action access to appointments service":
              value:
                type: service
                id: appointments
                accessLevel: action

  securitySchemes:
    BearerAuthorization:
      type: http
      description: |
        An
        [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis)
        from NHS login.
      scheme: bearer
      bearerFormat: ^Bearer\ [[:ascii:]]+$

security:
  - BearerAuthorization: []
