# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-user-permissions owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  version: Computed and injected at build time by `scripts/set_version.py`
  title: GP Connect - User Permissions
  contact:
    name: GP Connect - User Permissions API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: >
    ## Overview
    
    Use this API to access an NHS patient's permissions for healthcare information and services. Patient facing applications can get a patient's permissions from GP Systems with this API.
    
    You can:
    
    * get a patient's current permissions (available and restricted)
    * request for changes to a patient's permissions
    
    You cannot currently use this API to:
    
    * receive notifications when patient permissions are updated in the GP System
    * update patient permissions in GP Systems
    * get current permissions for proxy patient access
    * manage permissions for type 1 opt out
    * manage permissions for national data opt out
    
    ## Who can use this API
    To be completed.
    ## Related APIs
    To be completed.
    ## API status and roadmap
    To be completed.
    ## Service level
    To be completed.
    ## Technology
    To be completed.
    ## Network access
    To be completed.
    ## Security and authorisation
    To be completed.
    ## Environments and testing
    To be completed.
    ## Onboarding
    To be completed.

servers:
  - url: https://sandbox.api.service.nhs.uk/user-permissions
    description: Sandbox environment
  - url: https://int.api.service.nhs.uk/user-permissions
    description: Integration test environment
  - url: https://api.service.nhs.uk/user-permissions
    description: Production environment

tags:
  - name: User Permissions
    description: User permissions operations

paths:
  /:
    get:
      tags:
        - User Permissions
      summary: GET a user's permissions.
      description: >
        Returns a `UserPermission` object which includes a list of services and
        a list of medical record permission sets with a date range for when
        they are or have been applicable.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermission"
              examples:
                "Current permissions with services":
                  $ref: "#/components/examples/CurrentPermissionsWithServices"
                ? "Medical record with historical permissions and a pending request"
                : $ref: "#/components/examples/HistoricalPermissionsWithPendingRequest"
                "Services with pending requests":
                  $ref: "#/components/examples/ServiceWithPendingRequests"
                "Current permissions with pending request for documents":
                  $ref: "#/components/examples/CurrentPermissionsWithPendingRequestForDocuments"
                "Current permissions with rejected request for documents":
                  $ref: "#/components/examples/CurrentPermissionsWithRejectedRequestForDocuments"
                "Mulitple medical record permission sets":
                  $ref: "#/components/examples/MultipleMedicalRecordPermissionSets"
  /update-permission:
    post:
      tags:
        - User Permissions
      summary: Request a change to a permission.
      requestBody:
        $ref: "#/components/requestBodies/UpdatePermission"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionUpdateResponse"
              examples:
                "Historical permissions with document access pending":
                  value:
                    type: medical
                    id: historical-permissions-id
                    accessLevel: documents
                    status: pending
                    message: Request to access documents is pending.
                    endDate: "2022-11-01T00:00:00+00:00"
                "Full access to current medical record permissions approved":
                  value:
                    type: medical
                    id: current-permissions-id
                    accessLevel: full
                    status: approved
                    message: >
                      Request for full access to current medical record
                      approved.
                "Detailed coded access to historical permissions rejected":
                  value:
                    type: medical
                    id: historical-permissions-id
                    accessLevel: detailed
                    status: rejected
                    message: >
                      Request for detailed coded access to historical medical
                      record rejected.
                "View access to medication service approved":
                  value:
                    type: service
                    id: medication
                    accessLevel: view
                    status: approved
                    message: >
                      Request for view access to medication service approved.

components:
  schemas:
    UserPermission:
      type: object
      required:
        - medicalRecord
        - services
      properties:
        medicalRecord:
          type: array
          description: >
            List of permission sets from the beginning of the medical record to
            the current date. Each permission set should have a `beginDate` and
            an `endDate` with the exception of the current permission set which
            should not contain an `endDate`.
          items:
            $ref: "#/components/schemas/MedicalRecordPermission"
        services:
          type: array
          description: >
            List of services available to the user including whether the service
            is accessible or not.
          items:
            $ref: "#/components/schemas/ServicePermission"

    MedicalRecordPermission:
      type: object
      description: >
        Contains the access level the user has to the medical record and
        whether they have access to documents. Permissions are effective from
        `beginDate`.
        An optional `request` object can be used to describe pending
        requests.
      required:
        - id
        - beginDate
        - documentAccess
        - accessLevel
      properties:
        id:
          type: string
          description: >
            The id of the permission set. This will be used in the request to
            update permissions. The id is arbitary and should not be used by
            consuming applications for anything other than being included in
            the request to update a permission.
            The id could change between sessions but the receiving application
            must know what permission set the id is associated to. For this
            reason it is suggested `beginDate` is used as this will be unique
            across all permission sets and have a well known association
            between id and permission set.
          example: "2022-11-01T00:00:00+00:00"
        beginDate:
          type: string
          description: The date when the permission set was active.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        endDate:
          type: string
          description: The date when the permission set was no longer active.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        documentAccess:
          type: boolean
          description: >
            Indicates if the user has access to the medical record documents.
          example: true
        accessLevel:
          $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
        request:
          $ref: "#/components/schemas/MedicalRecordRequest"

    ServicePermission:
      description: >
        A service and the level of access a user has to it.
      required:
        - id
        - accessLevel
      properties:
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"
        request:
          $ref: "#/components/schemas/ServiceRequest"

    BaseRequest:
      description: >
        An object containing information pertaining to any pending or rejected
        requests.
      type: object
      required:
        - status
        - endDate
        - message
      properties:
        endDate:
          type: string
          description: >
            The date/time when the request will have either been actioned or
            becomes eligible to be requested again.
          format: date-time
          example: "2022-11-01T00:00:00+00:00"
        message:
          type: string
          description: >
            A message pertaining to the request and its status.
          example: Request requires review by HCP.
        status:
          type: string
          description: The status of the request to update the permission.
          enum:
            - pending
            - rejected
    ServiceRequest:
      description: >
        An object containing information pertaining to any pending or rejected
        requests for changes to service permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/ServiceAccessLevelEnum"
    MedicalRecordRequest:
      description: >
        An object containing information pertaining to any pending or rejected
        requests for changes to medical record permissions.
      allOf:
        - $ref: "#/components/schemas/BaseRequest"
        - type: object
          required:
            - accessLevel
          properties:
            accessLevel:
              $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"

    MedicalRecordPermissionUpdate:
      type: object
      description: >
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - id
        - type
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - medical
        id:
          type: string
          description: Id of the medical record permission set to update.
          example: current-permissions-id
        accessLevel:
          $ref: "#/components/schemas/MedicalRecordAccessLevelEnum"
    ServicePermissionUpdate:
      type: object
      description: >
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required:
        - id
        - type
        - accessLevel
      properties:
        type:
          type: string
          enum:
            - service
        id:
          $ref: "#/components/schemas/ServiceIdEnum"
        accessLevel:
          $ref: "#/components/schemas/ServiceAccessLevelEnum"

    PermissionUpdateResponse:
      oneOf:
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdateResponse"
      discriminator:
        propertyName: type
        mapping:
          medical: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
          service: "#/components/schemas/ServicePermissionUpdateResponse"
    BasePermissionUpdateResponse:
      allOf:
        - type: object
          required:
            - status
            - message
          properties:
            status:
              type: string
              description: The status of the update request.
              enum:
                - approved
                - rejected
                - pending
              example: pending
            message:
              type: string
              description: >
                Message pertaining to the result of the request.
              example: >
                Request to allow access to documents is pending.
            endDate:
              type: string
              description: >
                Only required for `pending` responses.
                Indicates that date time when the request is expected
                to have been processed and an `approved` or
                `rejected` status has been achieved.
              format: date-time
              example: "2022-11-01T00:00:00+00:00"
    MedicalRecordPermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
    ServicePermissionUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BasePermissionUpdateResponse"
        - $ref: "#/components/schemas/ServicePermissionUpdate"

    # Enums
    MedicalRecordAccessLevelEnum:
      type: string
      description: The access level the user has to the medical record.
      enum:
        - none
        - summary
        - detailed
        - full
      example: detailed
    ServiceAccessLevelEnum:
      type: string
      description: Indicates the level of access the user has to the service.
      enum:
        - none
        - view
        - full
      example: view
    ServiceIdEnum:
      type: string
      description: The id of the service.
      enum:
        - appointments
        - medication
      example: appointments

  examples:
    CurrentPermissionsWithServices:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    HistoricalPermissionsWithPendingRequest:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
          - id: historical-permissions-id
            beginDate: "2002-06-11T09:30:00+00:00"
            endDate: "2022-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: summary
            request:
              status: pending
              endDate: "2022-10-31T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: detailed
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    ServiceWithPendingRequests:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: true
            accessLevel: full
        services:
          - id: appointments
            accessLevel: view
            request:
              status: pending
              endDate: "2022-10-31T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: full
          - id: medication
            accessLevel: view
    CurrentPermissionsWithPendingRequestForDocuments:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
            request:
              status: pending
              endDate: "2022-11-30T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: documents
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    CurrentPermissionsWithRejectedRequestForDocuments:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
            request:
              status: rejected
              endDate: "2022-11-30T23:59:59+00:00"
              message: Requires review by HCP
              accessLevel: documents
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: view
    MultipleMedicalRecordPermissionSets:
      value:
        medicalRecord:
          - id: current-permissions-id
            beginDate: "2022-11-01T00:00:00+00:00"
            documentAccess: false
            accessLevel: full
          - id: historical-permissions-id-1
            beginDate: "2020-11-01T00:00:00+00:00"
            endDate: "2022-10-31T23:59:59+00:00"
            documentAccess: true
            accessLevel: detailed
          - id: historical-permissions-id-2
            beginDate: "2015-11-01T00:00:00+00:00"
            endDate: "2020-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: detailed
          - id: historical-permissions-id-3
            beginDate: "2002-06-11T09:30:00+00:00"
            endDate: "2015-10-31T23:59:59+00:00"
            documentAccess: false
            accessLevel: summary
        services:
          - id: appointments
            accessLevel: full
          - id: medication
            accessLevel: full

  requestBodies:
    UpdatePermission:
      description: >
        Object containing the `type` and `id` of the permission to update along
        with the `accessLevel` to update to.
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
              - $ref: "#/components/schemas/ServicePermissionUpdate"
            discriminator:
              propertyName: type
              mapping:
                medical: "#/components/schemas/MedicalRecordPermissionUpdate"
                service: "#/components/schemas/ServicePermissionUpdate"
          examples:
            ? "Request document access for specific medical record permission set"
            : value:
                type: medical
                id: historical-permissions-id
                accessLevel: documents
            "Request full access for current medical record":
              value:
                type: medical
                id: current-permissions-id
                accessLevel: full
            "Request full access to appointments service":
              value:
                type: service
                id: appointments
                accessLevel: full

  securitySchemes:
    BearerAuthorization:
      type: http
      description: >
        An
        [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis)
        from NHS login.
      scheme: bearer
      bearerFormat: ^Bearer\ [[:ascii:]]+$

security:
  - BearerAuthorization: []
