# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-user-permissions owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  version: Computed and injected at build time by `scripts/set_version.py`
  title: GP Connect - User Permissions
  contact:
    name: GP Connect - User Permissions API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview

    Use this API to manage a patient's permissions to access the medical
    record and services they can access at their GP practice.

    You can:

    - get a patient's permissions
    - request to update a patient's permissions to a higher level

    You cannot:

    - request to update a patient's permissions to a lower level

    To use this API, the end user must be a patient who is:

    - registered with the GP practice
    - registered with NHS login

    This API allows you to manage the permissions for:

    - appointments
    - prescriptions
    - medical record

    ### Access modes

    This API has a single access mode:

    | Access mode                                                                                                                | Functions | Availability |
    | -----------                                                                                                                | --------- | ------------ |
    | [Patient access](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#patient-access-mode) | Get own permissions. Update own permissions. | TBC |

    For further details about the access modes for this API, see
    [Security and authorisation](#api-description__security-and-authorisation) below.

    ## Who can use this API

    This API:

    - is only for use by patient-facing applications
    - is only for non-clinical use
    - can only be used where there is a legal basis to do so

    Make sure you have a valid use case before you go too far with your development. To do this, contact us.

    You must do this before you can go live (see `Onboarding` below).

    ## Related APIs

    The GP Connect suite of patient facing service (PFS) APIs include the
    following related APIs:

    - [GP Connect appointment management FHIR API](https://digital.nhs.uk/developer/api-catalogue/gp-connect-appointment-management-fhir) - manage GP practice appointments between different systems.
    - GP Connect access record API - retrieve a patient's medical record from the GP practice systems.
    - GP Connect prescriptions management API - manage a patient's prescriptions as held by the GP practice systems.

    ## API status and roadmap

    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning:

    - it is available for testing in the integration environment
    - it is not available for production use
    - we might make breaking changes, but only if we cannot avoid it, and we will give advance notice

    ## Service level

    This API is a silver service, meaning it is operational 24 x 7 x 365 but
    only supported during business hours (8am to 6pm), Monday to Friday
    excluding bank holidays.

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).

    ## Technology

    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest)

    ## Network access

    This API is available on the internet.

    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    This API is
    [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis),
    meaning an end user must be present and authenticated to use it.

    The end user must be:

    - a patient
    - authenticated with NHS login to P9

    The API uses Open ID Connect to authenticate the end user and OAuth 2.0 to
    authorise the calling system. It supports the following security pattern
    using NHS login:

    - [User-restricted RESTful APIs - NHS login separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-separate-authentication-and-authorisation)

    ## Environments and testing

    | Purpose          | URL                                                   |
    | -------          | ---                                                   |
    | Sandbox          | `https://sandbox.api.service.nhs.uk/user-permissions` |
    | Integration test | Not yet available                                     |
    | Production       | Not yet available                                     |

    ### Sandbox testing

    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):

    - is for early developer testing
    - only covers a limited set of scenarios
    - is stateless, so it does not store data
    - is open access, so does not allow you to test authorisation

    For more details on sandbox testing, or to try out the sandbox using our
    "Try this API" feature, see the documentation for each endpoint.

    ### Integration testing (not yet available)

    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):

    - is for formal integration testing
    - is stateful, so it does persist data
    - includes authorisation

    For more details see
     [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding

    We are hoping to make the assurance process as lightweight and as
    self-service as possible.

    ## Errors

    We use standard HTTP status codes to show whether an API request succeeded
    or not. They are usually in the range:

    - 200 to 299 if it succeeded, including code 202 if it was accepted by an
      API that needs to wait for further action

    - 400 to 499 if it failed because of a client error by your application

    - 500 to 599 if it failed because of an error on our server

    Errors specific to each API are shown in the Endpoints section, under
    Response. See our
    [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes)
    for more on errors.

servers:
  - url: https://sandbox.api.service.nhs.uk/user-permissions
    description: Sandbox environment

tags:
  - name: User Permissions
    description: User permissions operations

paths:
  /gp-connect/user-permissions/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/NHSD-End-User-Organisation-ODS"
    get:
      tags:
        - User Permissions
      summary: GET a patient's permissions.
      description: |
        Get a patient's permissions to access the medical record and services
        they can access at their GP practice.
        Returns a `UserPermission` object which includes a list of services and
        a list of medical record permission sets with a date range for when
        they are or have been applicable.
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Test"
              examples:
                "Test example 2":
                  $ref: "#/components/examples/TestExample2"
                "Test example":
                  $ref: ./components/examples/TestExample.yaml
                "Full permissions to medical record and services":
                  $ref: "#/components/examples/FullPermissions"
                "Pending request to get documents access to before record":
                  $ref: "#/components/examples/PendingRequestForDocumentsAccess"
                "Pending request for full access to appointments":
                  $ref: "#/components/examples/PendingRequestForFullAccessAppointments"
                "Multiple pending requests":
                  $ref: "#/components/examples/MultiplePendingRequests"
  
    post:
      tags:
        - User Permissions
      summary: Request a change to a permission.
      description: |
        Request a change to the permission a patient has for their medical
        record or services provided by the GP practice.
        Once a request has been submitted it will be actioned, however, due to
        the nature of the request when this will happen is unknown at the time
        of request submission.
        When the request has been actioned the result will be apparent in the
        response to getting the permissions.
        The message returned from submitting the request _should_ contain
        information pertinent to when the request may be actioned. This could
        be shown to the user to help set expectations.
      requestBody:
        # $ref: "#/components/requestBodies/UpdatePermission"
        description: |
          Object containing the `type` and `id` of the permission to update along
          with the `currentAccessLevel` to update to.
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MedicalRecordPermissionUpdate"
                - $ref: "#/components/schemas/ServicePermissionUpdate"
              discriminator:
                propertyName: type
                mapping:
                  medical: "#/components/schemas/MedicalRecordPermissionUpdate"
                  service: "#/components/schemas/ServicePermissionUpdate"
            examples:
              "Request documents access for medical record before effective date":
                value:
                  type: medical
                  id: before
                  accessLevel: documents
              "Request effective date is moved back to date":
                value:
                  type: medical
                  id: present
                  accessLevel: full
                  date: "2022-11-01T00:00:00+00:00"
              "Request action access to appointments service":
                value:
                  type: service
                  id: appointments
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
                  - $ref: "#/components/schemas/ServicePermissionUpdateResponse"
                discriminator:
                  propertyName: type
                  mapping:
                    medical: "#/components/schemas/MedicalRecordPermissionUpdateResponse"
                    service: "#/components/schemas/ServicePermissionUpdateResponse"
              examples:
                ? "Request for documents access for before effective date is pending"
                : value:
                    type: medical
                    id: before
                    accessLevel: documents
                    status: pending
                    message: |
                      Request accepted to update access before effective date
                      to documents.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request to move effective date back to requested date":
                  value:
                    type: medical
                    id: present
                    accessLevel: full
                    date: "2021-11-01T00:00:00+00:00"
                    status: pending
                    message: Request received to move effective date to date.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request for full access to prescriptions service":
                  value:
                    type: service
                    id: prescriptions
                    accessLevel: full
                    status: pending
                    message: |
                      Request received for full access to prescriptions service.
                    dateCreated: "2022-11-01T00:00:00+00:00"
                "Request rejected for full access to appointments service":
                  value:
                    type: service
                    id: prescriptions
                    accessLevel: full
                    status: rejected
                    message: |
                      Request received for full access to prescriptions
                      service.
                    dateCreated: "2022-11-01T00:00:00+00:00"

components:
  parameters:
    Id:
      in: path
      name: id
      description: |
        The patient's NHS number. The primary identifier of a patient, unique
        within NHS England and Wales. Always 10 digits and must be a
        [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).
      required: true
      schema:
        type: string
        example: "9000000009"
    NHSD-End-User-Organisation-ODS:
      in: header
      name: NHSD-End-User-Organisation-ODS
      description: The ODS code of the End User Organisation (EUO).
      required: true
      schema:
        type: string
        example: Y12345

  schemas:
    Test:
      $ref: components/schemas/Test.yaml
    UserPermission:
      $ref: components/schemas/UserPermission.yaml
    MedicalRecordPermission:
      $ref: "components/schemas/MedicalRecordPermission.yaml"
    ServicePermission:
      $ref: "components/schemas/ServicePermission.yaml"
    BaseRequest:
      $ref: "components/schemas/BaseRequest.yaml"
    MedicalRecordPermissionUpdate:
      $ref: "components/schemas/MedicalRecordPermissionUpdate.yaml"
    ServicePermissionUpdate:
      $ref: "components/schemas/ServicePermissionUpdate.yaml"
    MedicalRecordPermissionUpdateResponse:
      $ref: "components/schemas/MedicalRecordPermissionUpdateResponse.yaml"
    ServicePermissionUpdateResponse:
      $ref: "components/schemas/ServicePermissionUpdateResponse.yaml"
    ServiceAccessLevelEnum:
      $ref: "components/schemas/ServiceAccessLevelEnum.yaml"
    MaxServiceAccessLevelEnum:
      $ref: "components/schemas/MaxServiceAccessLevelEnum.yaml"
    ServiceIdEnum:
      $ref: "components/schemas/ServiceIdEnum.yaml"

  # requestBodies:
  #   UpdatePermission:
  #     $ref: "components/requestBodies/UpdatePermission.yaml"

  examples:
    # TestExample:
    #   $ref: components/examples/TestExample.yaml
    TestExample2:
      value:
        message: "Hi"
    FullPermissions:
      $ref: components/examples/FullPermissions.yaml
    PendingRequestForDocumentsAccess:
      $ref: components/examples/PendingRequestForDocumentsAccess.yaml
    PendingRequestForFullAccessAppointments:
      $ref: components/examples/PendingRequestForFullAccessAppointments.yaml
    MultiplePendingRequests:
      $ref: components/examples/MultiplePendingRequests.yaml

  securitySchemes:
    BearerAuthorization:
      type: http
      description: |
        An
        [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis)
        from NHS login.
      scheme: bearer
      bearerFormat: ^Bearer\ [[:ascii:]]+$

security:
  - BearerAuthorization: []
